/**
 * @file
 * Styles for Date Content entities.
 */
.date-content-entity {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0.25rem;
}
.date-content-entity .field--label-inline {
  display: flex;
}
.date-content-entity .field:not(:last-child) {
    margin-bottom: 0.1rem;
}
#drupal-off-canvas-wrapper .form-item {
  max-width: 100%;
}
