{#
/**
 * @file date-content.html.twig
 * Default theme implementation to present Date Content entities.
 *
* This template is used when viewing Date Content entities attached to dates.

 *
 *
 * Available variables:
 * - date_content: The date_content entity with limited access to object
 *   properties and methods. Only method names starting with "get", "has", or
 *   "is" and a few common methods such as "id", "label", and "bundle" are
 *   available. See Drupal core's node.html.twig for examples.
 * - content: All date_content items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_date_content()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('date_content/date_content') }}
<article{{attributes.addClass('date-content-entity')}}>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
